body {
  background-color: white;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 #d9c0ce !important; /* red shadow */
}

h2, h3 {
    color: #333;
}

.map{
    height: 100vh; /* full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

/* Hero Section */
.hero {
  background: url('../static/images/home-bg.svg') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  padding: 2rem;
}

.btn-primary, .btn-success {
  background: linear-gradient(135deg, #7c3966, #3a3c60);
  border: none;
  border-color: #3a3c60;
  font-weight: bold;
  padding: 0.8rem 2rem;
}

.btn-primary:hover, .btn-success:hover{
  background: linear-gradient(135deg, #5a3d82, #7648c9);
}

body.modal-open {
  background-color: rgba(0, 0, 0, 0.55) !important;
}

