body {
  margin: 0;
  font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
  font-size: 1.4rem;
}
.bg-custom {
  background-color: #6a1b9a !important;  /* purple */
}

.navbar .nav-link {
    margin-right: 20px;
  color: white !important;
}

.navbar .nav-link:hover {
  color: #d9c0ce !important;  /* gold on hover */
}

footer {
    background: linear-gradient(to bottom right, #6b3157, #3a3c60);
    color: #555;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}
  
footer p {
    margin: 0;
}